@import "src/assets/scss/common.scss";
.ml-11{
    margin-left: 10.5rem;
}
.btn-green{
    color: #fff;
    background-color: #00ae42;
    min-width: 125px;
    font-family: 'PT Sans', sans-serif;
}
::ng-deep{
    .ag-theme-balham .ag-header {
    background-color: rgb(0, 58, 161);
    color: white;
}
}
input:-internal-autofill-selected{
    background-color: white !important;
}
input:internal-autofill-selected{
    background-color: white !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}
