<div class="col-12 row ">
    <div class="col-1"></div>
    <div class="col-12 row pt-5 m-auto" style="max-width: 95%">
        <div class="col-12">
           
                <div class="col-12 row bg-white p-4 shadow shadow-md rounded">
                    <p class="font-weight-bold heading col-12 pl-0 ml-3">Execute Batch</p>                   
                    <div class="form-group col-12 pt-5">
                        <button class="btn btn-green mr-5 ml-5" (click)="publishAttest()">Publish to Processor</button>
                        <button class="btn btn-green ml-4" (click)="triggerSync()">Status Sync</button>
                    </div>                   
                    <div id="spinnerCust" *ngIf="commonService.isExecuteBatch">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
           
        </div>
    </div>
    <div class="col-2"></div>
</div>